body {
  background: #000;
  color: #00ffcc;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 360px;
  background: #020202;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px #00ffcc;
}

.subtitle {
  font-size: 12px;
  color: #ff4d4d;
}

#chat-box {
  height: 260px;
  background: #000;
  padding: 10px;
  margin: 10px 0;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #00ffcc;
}

.message {
  margin-bottom: 8px;
}

.user {
  color: #4fc3f7;
}

.bot {
  color: #ff4d4d;
}

input {
  width: 70%;
  padding: 5px;
  background: #000;
  color: #00ffcc;
  border: 1px solid #00ffcc;
}

button {
  width: 25%;
  padding: 5px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}
